@import '../../../styles/index.scss';

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  background: #000;

  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4d4d4d4d;
    color: #fff;
    min-height: 80px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile-logo {
      width: 32px;
      height: 32px;

      .link {
        width: 32px;
        height: 32px;

        img {
          width: inherit;
          height: inherit;
        }
      }
    }
    .mobile-menu-bar {
      width: 24px;
      height: 24px;
    }
  }

  .desktop-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4d4d4d4d;
    color: #fff;
    min-height: 80px;
    padding: 0 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 194px;
      min-height: 33px;
    }

    .nav {
      min-width: 332px;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      .nav-item {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
        font-family: 'Avenir LT Std';

        .nav-dropdown {
          min-height: 175px;
          width: 60%;
          background: #292a2d;
          color: #000;
          position: absolute;
          top: 80px;
          left: 20%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          padding: 16px;
          border-radius: 24px;

          .card {
            width: 100%;
            min-height: 143px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 16px;
            font-family: 'Avenir LT Std';

            &:hover {
              border-radius: 8px;
              background: #5e5e62;
            }

            .title {
              font-size: 20px;
              font-weight: 600;
              color: #fff;
            }
            .desc {
              color: #ababaf;
              font-size: 16px;
              font-weight: 350;
              line-height: 1.5;
            }
          }
        }
      }
    }

    .join {
      min-width: 175px;
      min-height: 54px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 13px 27px;
      background: #d8d8d8;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #000;
      cursor: pointer;

      img {
        width: 20px;
        height: 5px;
      }
    }
  }

  .about-us {
    background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1713640319/Frame_126_r0dshk.png');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat no-repeat;
    height: 200px;
    margin-top: 80px;
  }
}

/* main styles */
.main-container {
  color: #fff;
  background: #000;
  padding: 10px 16px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 80px;

  @include tablet {
    padding: 110px 72px;
    margin-top: auto;
  }

  .upper-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .top-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-family: Space Grotesk;

      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        color: #caffbb;

        @include tablet {
          font-size: 32px;
        }
      }
      .desc {
        color: #ababaf;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15000000596046448px;

        @include tablet {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
    .bottom-content {
      display: flex;
      min-height: 332px;
      flex-direction: column-reverse;
      gap: 30px;

      @include tablet {
        flex-direction: row;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 24px;

        @include tablet {
          width: 65%;
          gap: auto;
        }

        .inner {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .title {
            font-family: Space Grotesk;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            color: #ffffff;

            @include tablet {
              font-size: 32px;
              line-height: 40px;
            }
          }
          .desc {
            color: #ababaf;
            font-family: 'Avenir';
            font-size: 16px;
            font-weight: 350;
            line-height: 24px;
          }
        }
        .button {
          cursor: pointer;
          display: flex;
          gap: 5px;
          align-self: flex-start;
          background: #f2f0f4;
          padding: 10px 16px;
          min-height: 40px;
          border-radius: 8px;
          color: #000;
          font-family: 'Avenir';
          font-size: 16px;
          font-weight: 350;
          line-height: 21.86px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .lower-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    min-height: 236px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      min-height: 276px;
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      grid-column: auto;
      border: 1px solid #919094;
      background: #4d4d4d4d;
      border-radius: 16px;
      padding: 16px;
      color: #fff;
      min-height: 236px;

      .title {
        font-family: Space Grotesk;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px solid #919094;
      }
      .text {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .inner {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .contain {
          display: flex;
          flex-direction: column;
          gap: 6px;
          // border-top: 1px solid #919094;
          border-bottom: 1px solid #919094;

          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #919094;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            .closed {
              animation: rotateDown 0.5s forwards;
              rotate: 0deg;
              width: 20px;
              height: 20px;
            }
            .open {
              animation: rotateUp 0.5s forwards;
              rotate: 0deg;
              width: 20px;
              height: 20px;
            }
          }
          .text {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
}
/*Footer styles*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background: #171717;
  padding: 38px 72px;

  .contain {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    @include tablet {
      justify-content: space-between;
      flex-direction: row;
      width: 60%;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #919094;
      font-family: 'Space Grotesk';
      font-size: 14px;
      font-weight: 500;

      @include tablet {
        font-size: 16px;
      }

      .dao {
        color: #c5ee4f;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 32px;
      color: #919094;

      .icon {
        width: 20px;
        height: 18px;

        @include tablet {
          width: 18px;
          height: 16px;
        }
      }
    }
  }
}

/*Side nav bar*/
.mobile-side-nav {
  min-height: 100vh;
  background: #222222e5;
  display: flex;
  flex-direction: column;
  gap: 87px;
  z-index: 99999;
  width: 100vw;
  padding: 16px;
  position: fixed;
  top: 0;
  left: -100%;
  animation: slide 0.5s forwards;

  header {
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile-logo {
      width: 31px;
      height: 31px;

      .link {
        width: 31px;
        height: 31px;

        img {
          width: inherit;
          height: inherit;
        }
      }
    }
    .mobile-menu-bar {
      width: 31px;
      height: 31px;
    }
  }
  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    min-height: 296px;
    width: 100%;

    .nav-list {
      width: 259px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .nav-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          font-family: 'Avenir LT Std';
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
        }

        .tab {
          display: flex;
          flex-direction: column;
          padding-left: 8px;
          gap: 8px;
          left: -100%;
          animation: slideTab 0.5s forwards;

          .tab-item {
            font-family: 'Avenir LT Std';
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-family: 'Avenir LT Std';
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .nav-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #000;
      font-family: 'Avenir LT Std';
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      width: 259px;
      padding: 16px;
      gap: 10px;
    }
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slideTab {
  100% {
    left: 0;
  }
}

@keyframes rotateUp {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes rotateDown {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
