@import '../../../../styles/index.scss';

/*change password overlay*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background:#000000;
  color: #fff;
  border-radius: 12px;
  width: 90%;
  min-height: 308px;
  padding: 32px;
  gap: 10px;
  border: 2px solid #FFFFFF;

  @include tablet {
    width: 444px;
    padding: 24px;
  }

  .title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;    
    color: #E8F9FFF2;
  }

  .options {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    gap: 10px;

    @include tablet {
     
    }


    .option-checked{
      background: #23C1AA4D;
      border: 1px solid #C7F284;
      border-radius: 8px;
    }

    .option, .option-checked{
      display: flex;
      padding: 8px;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      color: #E8F9FF;
      height: 40px;
      width: 100%;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;


      .icon{
        border: 2px solid #C7F284;
        border-radius: 50%;
        width: 20px;
        height: 20px;  
      }
      .icon-checked{
        border: 2px solid #C7F284;
        color: #C7F284;
        border-radius: 50%;
        width: 20px;
        height: 20px;  
      }
    }
  }
  .submit-btn{
    display: flex;
    width: 100%;
    cursor: pointer;
    background-color: #C5EE4F;
    border: 1px solid #C5EE4F;
    border-radius: 8px;
    height: 44px;
    padding: 12px 0px;
    color: #00484F;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    align-items: center;
    justify-content: center; 
    margin: 10px 0;
  }
}
