@import '../../../../styles/index.scss';

.main-desktop{
  display: flex;
  min-height: 100vh;
  margin-top: 80px;
  flex-direction: column;
}

.hero-section{
  min-height: 100vh;
  padding: 70px 16px;
  width: 100%;
  background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1727039620/Group_6_g9irxe.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;

  @include tablet{
    padding: 70px 72px;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    pointer-events: none; 
  }

  .advert-card{
    display: flex;
    flex-direction: column;
    min-height: 270px;
    width: 100%;
    gap: 16px;
    align-items: center;
    justify-content: center;
    z-index: 10;

    @include tablet{
      width: 451px;
      min-height: 318px;
    }

    .title{
      border: 2px solid #E2F7A7;
      border-radius: 50px;
      display: flex;
      height: 36px;
      gap: 8px;
      padding: 8px 16px;
      color: #E8F9FF;
      font-size: 12px;
      font-weight: 400px;
      font-family: 'Roboto';
      align-items: center;
      justify-content: center;
      width: fit-content;

      @include tablet{
        font-size: 14px;
      }

      .dot{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
      }
    }
    .inner-content{
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: inherit;
      min-height: 218px;

      @include tablet{
        min-height: 266px;
      }
    
      .top{
        display: flex;
        flex-direction: column;
        min-height: 80px;

        @include tablet{
          min-height: 184px;
        }

        .lead{
          color: #C5EE4F;
          min-height: 128px;
          width: 100%;
          font-size: 32px;
          font-weight: 700px;
          font-family: 'Roboto';
          text-align: center;
          line-height: 64px;

          @include tablet{
            font-size: 57px;
          }
        }
        .text{
          color: #fff;
          font-family: "Roboto";
          font-size: 14px;
          font-weight: 400px;
          font-style: italic;

          @include tablet{
            font-size: 19px;
          }

          span{
            color: #C5EE4F;
            font-weight: 700px;
          }
        }
      }
      .bottom{
        display: flex;
        align-items: center;
        gap: 16px;
        min-height: 50px;
        justify-content: center;

        .btn-register, .btn-learn{
          border: 1px solid #C5EE4F;
          cursor: pointer;
          text-align: center;
          padding: 8px 12px;
          min-height: inherit;
          border-radius: 50px;
          width: 166px;
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 500;
        }
        .btn-register{
          background-color: #C5EE4F;
          color: #00484F;
        }
        .btn-learn{
          background-color: inherit;
          color: #C5EE4F;
        }
      }
    }
  }
  .img{
    width: 250px;
    height: 300px;
  }
}
.info-section{
  min-height: 100vh;
  padding: 70px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #010101;
  color: #fff;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @include tablet{
    padding: 70px 149px;
    gap: 64px;
  }

  .top-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 124px;
    width: 100%;
    align-items: center;
    justify-content: center;

    @include tablet{
      min-height: 116px;
      width: 70%;
    }
  
    .title{
      border-radius: 50px;
      border: 2px solid #E2F7A7;
      display: flex;
      height: 36px;
      gap: 8px;
      padding: 8px 16px;
      color: #E8F9FF;
      font-size: 12px;
      font-weight: 400px;
      font-family: 'Roboto';
      align-items: center;
      justify-content: center;
      width: fit-content;

      @include tablet{
        font-size: 14px;
      }

      .dot{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
      }
    }

    .text{
      color: #FFFFFF;
      font-size: 16px;
      font-family: 'Roboto';
      font-weight: 400;
      text-align: center;

      @include tablet{
        font-size: 22px;
      }
    }
  }
  .bottom-section{
    display: grid;
    gap: 16px;
    min-height: 300px;
    grid-template-columns: repeat(1, 1fr);

    @include tablet{
      gap: 64px;
      min-height: 350px;
      grid-template-columns: repeat(2, 1fr);
    }

    .left{
      grid-column: auto;
      background: #00484F;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 32px;
      padding: 24px;
      font-family: 'Roboto';

      @include tablet{
        padding: 36px;
      }

      .title{
        color: #C5EE4F;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px solid #FFFFFF;
      }
      .inner-content{
        display: flex;
        flex-direction: column;
        gap: 16px;

        .step{
          display: flex;
          gap: 4px;
          min-height: 24px;
          align-items: flex-start;

          @include tablet{
            min-height: 40px;
            gap: 13px;
          }

          img{
            width: 16px;
            height: 16px;

            @include tablet{
              width: 24px;
              height: 24px;
            }
          }

          .step-text{
            display: inline;
            flex-direction: row;
            gap: 5px;
            font-weight: 400;
            color: #fff;
            font-size: 16px;

            @include tablet{
              font-size: 22px;
              font-weight: 700;
            }

            .span{
              font-weight: 400;
              display: inline;
            }
          }
      
        }
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: center;
  
      @include tablet{
        margin: 22px 0;
        padding: 36px;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .paragraph{
        font-family: 'Roboto';
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        line-height: 24px;
        text-align: center;

        @include tablet{
          font-size: 22px;
          line-height: 40px;
          text-align: left;
        }
      }
      .get-started{
        display: flex;
        gap: 16px;
        color: #C7F284;
        cursor: pointer;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;

        @include tablet{
          font-size: 22px;
        }
      }
    }
  }
}

.img-break-section{
  width: 100%;
  height: 300px;
  background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1727723250/front-view-latin-friends-hanging-out_1_zeewyk.png');
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet{
    height: 500px;
    background-image: url('https://res.cloudinary.com/dlinprg6k/image/upload/v1726999238/front-view-latin-friends-hanging-out_1_qkwxby.png');
  }
}

.prize-section{
  min-height: 100vh;
  padding: 70px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #132320;
  color: #fff;
  gap: 16px;
  align-items: center;
  justify-content: center;

  @include tablet{
    gap: 32px;
    padding: 70px 149px;
  }

  .top-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;

    @include tablet{
      min-height: 104px;
      width: 70%;
    }

    .title{
      border: 2px solid #E2F7A7;
      border-radius: 50px;
      display: flex;
      height: 36px;
      gap: 8px;
      padding: 8px 16px;
      color: #E8F9FF;
      font-size: 14px;
      font-weight: 400px;
      font-family: 'Roboto';
      align-items: center;
      justify-content: center;
      width: fit-content;

      @include tablet{
        font-size: 12px;
      }

      .dot{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
      }
    }

    .text{
      color: #FFFFFF;
      font-size: 22px;
      font-family: 'Roboto';
      font-weight: 400;
      text-align: center;

      span{
        font-weight: 700;
        font-size: 26px;
      }
    }
  }
  .table-containers{
    display: flex;
    flex-direction: column;
    width: 100%;

    .table-container-one{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 688px;

      @include tablet{
        height: 500px;
      }

      .header{
        background: #23C1AA40;
        border-radius: 32px 32px 0 0;
        height: 72px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .title{
          grid-column: auto;
          color: #fff;
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 700;
          line-height: 40px;
          text-align: left;
          padding: 16px;

          @include tablet{
            font-size: 22px;
            padding: 16px 32px 16px 32px;
          }
        }
       
      }
      .table-body{
        display: flex;
        flex-direction: column;

        .row{
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .column{
            grid-column: auto;
            min-height: 56px;
            padding: 16px;
            border-width: 0px 0.5px 1px 1px;
            border-style: solid;
            border-color: #23C1AA40;
            font-family: 400;
            font-family: 'Roboto';
            font-size: 14px;

            @include tablet{
              padding: 16px 32px;
              font-size: 16px;
            }
          }
        }
        .row:last-of-type{
          .column:first-of-type{
            border-radius: 0 0 0 32px;
          }
          .column:last-of-type{
            border-radius: 0 0 32px 0; 
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }

    .table-container-two{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 398px;

      @include tablet{
        height: 500px;
      }

      .header{
        background: #23C1AA40;
        border-radius: 32px 32px 0 0;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
          color: #fff;
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 700;
          line-height: 40px;
          text-align: center;
          padding: 16px;

          @include tablet{
            font-size: 22px;
            padding: 16px 32px 16px 32px;
          }
        }
       
      }
      .table-body{
        display: flex;
        flex-direction: column;

        .row{
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .column{
            grid-column: auto;
            min-height: 56px;
            padding: 16px;
            border-width: 0px 0.5px 1px 1px;
            border-style: solid;
            border-color: #23C1AA40;
            font-weight: 400;
            font-family: 'Roboto';
            font-size: 14px;

            @include tablet{
              padding: 16px 32px;
              font-size: 16px;
            }

            .items:first-of-type{
              font-weight: 700;
            }
          }

        }
        .row:last-of-type{
          .column:first-of-type{
            border-radius: 0 0 0 32px;
          }
          .column:last-of-type{
            border-radius: 0 0 32px 0; 
          }
        }
      }
    }
  }
}

.benefits-section{
  min-height: 600px;
  padding: 70px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #111211;
  color: #fff;
  gap: 16px;
  align-items: center;
  justify-content: center;

  @include tablet{
    gap: 24px;
    padding: 70px 149px;
  }

  .title{
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700px;

    @include tablet{
      font-size: 45px;
      font-weight: 700px;
    }
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @include tablet{
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
    
    .card{
      grid-column: auto;
      min-height: 180px;
      display: inline;
      align-items: center;
      justify-content: center;
      background: linear-gradient(90deg, #8DAF51 0%, #C5EE4F 100%);
      border-radius: 32px;
      padding: 16px;
      box-shadow: 0px 0px 5px 5px #00484F;
      color: #00484F;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 500;
      flex-wrap: wrap;
      text-align: center;
      align-self: center;
      justify-self: center;

      @include tablet{
        padding: 56px 32px;
        min-height: 280px;
      }

      span, div{
        font-weight: 700;
        display: inline-flex;
      }
    }
  }
}
