@import '../../../../styles/index.scss';

/*change password overlay*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #46464a;
  color: #fff;
  border-radius: 32px;
  width: 90%;
  min-height: 74%;
  padding: 50px 16px;
  gap: 10px;

  @include tablet {
    width: 45%;
    min-height: 64%;
    padding: 100px 51px 69px 51px;
  }

  img {
    width: 301px;
    min-height: 270px;
  }
  .message {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    @include tablet {
      font-size: 24px;
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 84px;

    .vote {
      display: flex;
      font-family: 'Space Grotesk';
      font-weight: 700;
      gap: 5px;
      color: #e3e2e6;
      font-size: 18px;

      @include tablet {
        font-size: 22px;
      }

      span {
        color: #919094;
        font-size: 22px;
        font-weight: 400;
      }
    }
  }

  .btn,
  .btn-declined {
    margin-top: 10px;
    background: #c5ee4f;
    min-height: 56px;
    border-radius: 50px;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
    color: #002201;
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-weight: 700;
    width: 100%;
  }
  .btn-declined {
    background: #fff;
  }
}
