@import '../../../styles/index.scss';

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  background: #1b1b1f;

  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4d4d4d4d;
    color: #fff;
    min-height: 80px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .mobile-logo {
      width: 32px;
      height: 32px;

      .link {
        width: 32px;
        height: 32px;

        img {
          width: inherit;
          height: inherit;
        }
      }
    }
    .mobile-menu-bar {
      width: 24px;
      height: 24px;
    }
  }

  .desktop-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4d4d4d4d;
    color: #fff;
    min-height: 80px;
    padding: 0 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .link {
      width: 194px;
      min-height: 33px;

      img {
        width: inherit;
        min-height: inherit;
      }
    }

    .nav {
      width: 332px;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      .nav-item {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
        font-family: 'Avenir LT Std';

        .nav-dropdown {
          min-height: 175px;
          width: 60%;
          background: #292a2d;
          color: #000;
          position: absolute;
          top: 80px;
          left: 20%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          padding: 16px;
          border-radius: 24px;

          .card {
            width: 100%;
            min-height: 143px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 16px;
            font-family: 'Avenir LT Std';

            &:hover {
              border-radius: 8px;
              background: #5e5e62;
            }

            .title {
              font-size: 20px;
              font-weight: 600;
              color: #fff;
            }
            .desc {
              color: #ababaf;
              font-size: 16px;
              font-weight: 350;
              line-height: 1.5;
            }
          }
        }
      }
    }
    .join {
      width: 269px;
      min-height: 59px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px 32px;
      background: #2f3033;
      font-family: 'Avenir';
      font-size: 20px;
      font-weight: 350;
      color: #fff;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
/*Side nav bar*/
.mobile-side-nav {
  min-height: 100vh;
  background: #222222e5;
  display: flex;
  flex-direction: column;
  gap: 87px;
  z-index: 999;
  width: 100vw;
  padding: 16px;
  position: fixed;
  top: 0;
  left: -100%;
  animation: slide 0.5s forwards;

  header {
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile-logo {
      width: 31px;
      height: 31px;

      .link {
        width: 31px;
        height: 31px;

        img {
          width: inherit;
          height: inherit;
        }
      }
    }
    .mobile-menu-bar {
      width: 31px;
      height: 31px;
    }
  }
  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    min-height: 296px;
    width: 100%;

    .nav-list {
      width: 259px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .nav-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          font-family: 'Avenir LT Std';
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
        }

        .tab {
          display: flex;
          flex-direction: column;
          padding-left: 8px;
          gap: 8px;
          left: -100%;
          animation: slideTab 0.5s forwards;

          .tab-item {
            font-family: 'Avenir LT Std';
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-family: 'Avenir LT Std';
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .nav-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f3033;
      color: #fff;
      font-family: 'Space Grotesk', sans-serif;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      border-radius: 50px;
      width: 259px;
      min-height: 60px;
      padding: 8px 16px;
      gap: 16px;
      border: 1px solid #fff;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.main {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 16px;
  gap: 10px;
  margin-top: 25px;

  @include tablet {
    padding: 70px 72px;
    gap: 50px;
    margin-top: 80px;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slideTab {
  100% {
    left: 0;
  }
}

/*footer styles*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background: #4d4d4d4d;
  padding: 38px 72px;

  .contain {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    @include tablet {
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #919094;
      font-family: 'Space Grotesk';
      font-size: 14px;
      font-weight: 500;

      @include tablet {
        font-size: 16px;
      }

      .dao {
        color: #c5ee4f;
      }
    }
    .middleText {
      color: #d8d8d8;
      font-family: 'Avenir';
      font-size: 16px;
      font-weight: 350;
      line-height: 32px;
      text-align: center;

      @include tablet {
        font-size: 16px;
        font-weight: 350;
        line-height: 32px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 32px;
      color: #919094;

      .icon {
        width: 20px;
        height: 18px;

        @include tablet {
          width: 18px;
          height: 16px;
        }
      }
    }
  }
}
